@{
    ViewData["Title"] = "About US";
}
<h1>@ViewData["Title"]</h1>

<p>Acerca de Nosotros: </p>
<p>Tu estilo es una empresa peruana dedicada a la venta online de ropa. Nuestro objetivo es ofrecer la moda más actual a los mejores precios.</p> <br>
<p>Misión:</p> <br>
<p>Crear relaciones sólidas y duraderas con nuestros clientes y colaboradores, proporcionándoles productos y servicios con los mejores beneficios.</p> <br>
<p>Visión:</p> <br>
<p>Ser la tienda por departamento con mayor presencia y preferencia a nivel nacional, encantando a nuestros clientes, colaboradores y a la sociedad.</p> <br>
<p>Nuestros Valores</p> <br>
<p>Gestión orientada a excelentes resultados.<br>
Trabajo en equipo para lograr un objetivo común.<br>
Ética y respeto a los clientes, compañero, procedimientos y normas establecidas.<br>
Actitud de servicio excepcional.<br>
Búsqueda e incentivo constante a la adopción de procesos innovadores y de las mejores prácticas.<br>
Comunicación con transparencia, clara y fluida a todo nivel. <br>
Compromiso con nuestra visión, misión y valores .</p>


