@{
    ViewData["Title"] = "About US";
}
<h1>@ViewData["Title"]</h1>

<p>Acerca de Nosotros: </p>
<p>Tu estilo es una empresa dedicada a la venta online de ropa. Nuestro objetivo es ofrecer la moda más actual a los mejores precios.</p>